<%= form_with(model: most_ranked_post) do |form| %>
  <% if most_ranked_post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(most_ranked_post.errors.count, "error") %> prohibited this most_ranked_post from being saved:</h2>

      <ul>
        <% most_ranked_post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :posts_id %>
    <%= form.text_field :posts_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
