 
    <%= render 'form', post: @post%>
  
  <div class="their-container">

    <div class="second-section their-title ui-container">
      Pessoas que podem ser do seu interesse :D
      <hr>
    </div>
    <%Post.all.each do |post|%>
      <div class="third-section their-section">
        <div class="their-post ui-container">
          <div class="their-post__info">
            <div class="their-post__photo">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                <path d="M256 0C114.6 0 0 114.6 0 256s114.6 256 256 256s256-114.6 256-256S397.4 0 256 0zM256 128c39.77 0 72 32.24 72 72S295.8 272 256 272c-39.76 0-72-32.24-72-72S216.2 128 256 128zM256 448c-52.93 0-100.9-21.53-135.7-56.29C136.5 349.9 176.5 320 224 320h64c47.54 0 87.54 29.88 103.7 71.71C356.9 426.5 308.9 448 256 448z"/>
              </svg>
            </div>
            <div class="their-post__name">
              <%= post.user.name %>
            </div>
          </div>
          <div class="their-post__publication">
            <%=post.text%>
          </div>
        </div>
      </div>
    <%end%>

    <div class="third-section their-title ui-container">
      Histórico (td mundooo) :D
      <hr>
    </div>

    <% top = MostRankedPost.where(user_id: 1).last.posts_id.split('')%>
      <% top.each do |item| %>
        <div class="third-section their-section">
          <div class="their-post ui-container">
            <div class="their-post__info">
              <div class="their-post__photo">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                  <path d="M256 0C114.6 0 0 114.6 0 256s114.6 256 256 256s256-114.6 256-256S397.4 0 256 0zM256 128c39.77 0 72 32.24 72 72S295.8 272 256 272c-39.76 0-72-32.24-72-72S216.2 128 256 128zM256 448c-52.93 0-100.9-21.53-135.7-56.29C136.5 349.9 176.5 320 224 320h64c47.54 0 87.54 29.88 103.7 71.71C356.9 426.5 308.9 448 256 448z"/>
                </svg>
              </div>
              <div class="their-post__name">
                <%= Post.find(item.to_i).user.name %>
              </div>
            </div>
            <div class="their-post__publication">
              <%= Post.find(item.to_i).text %>
            </div>
          </div>
        </div>
    <%end%>

